@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: #736454;
  --primary-color: #eff1f3;
  --bg-color: #f6f8fb;
  --hover: #5a4d3e;
  --black: #222;
  --white: #fff;
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 0 4rem;
}

/* ------------ Navbar ------------ */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-hamburger {
  display: none;
}

.nav-hamburger span {
  transition: 0.4s;
}

.nav-hamburger.transform span:nth-child(2) {
  transform: translateX(200%);
  opacity: 0;
}

.nav-hamburger.transform span:nth-child(1) {
  transform: rotate(314deg) translateX(-11px) translateY(0px);
}

.nav-hamburger.transform span:nth-child(3) {
  transform: rotate(44deg) translateX(-8px);
}

.line {
  display: block;
  width: 1.4rem;
  height: 2px;
  background-color: var(--black);
  margin: 0.3rem auto;
}

.nav-icon i {
  font-size: 1.6rem;
  color: var(--main-color);
}

.nav-icon span {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.nav-list li a {
  color: var(--black);
  font-size: 1.2rem;
  margin: 0 1.3rem;
  font-weight: 500;
  transition: all 0.3s;
  padding-bottom: 2px;
}

.nav-list li a:hover {
  border-bottom: 1px solid var(--black);
}

/* ------------ Home ------------ */
.home {
  height: 90vh;
  width: 100%;
  position: relative;
}

.home-slide {
  background: url("../images/header-1.png");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 4.5rem;
  transition: 0.4s ease;
}

.home-content {
  color: var(--hover);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 4rem;
}

.home-content h1 {
  text-transform: uppercase;
}

.home-content button {
  margin: 0.5rem auto;
  padding: 0.7rem 1rem;
  background-color: var(--main-color);
  font-size: 1.3rem;
  border: none;
  color: var(--white);
  transition: 0.3s;
}

.home-content button:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.next-btn,
.prev-btn {
  position: absolute;
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: inline;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  margin: 0 1rem;
  border-radius: 5px;
  transition: 0.3s;
  z-index: 111;
}

.next-btn:hover {
  transform: translateX(2px);
}

.prev-btn:hover {
  transform: translateX(-2px);
}

.next-btn {
  top: 50%;
  right: 0;
}

.prev-btn {
  top: 50%;
  left: 0;
}

/* ------------- About ------------- */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.about-title {
  font-size: 2.8rem;
  color: var(--main-color);
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5rem;
}

.about-image {
  width: 50%;
  margin-right: 2rem;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-text {
  width: 50%;
  margin-left: 2rem;
}

.about-text h2 {
  font-size: 2.3rem;
  color: var(--main-color);
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.about-description {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--main-color);
}

/* ------------- menu ------------- */
.menu {
  text-align: center;
  margin-top: 4rem;
}

.menu-title {
  font-size: 2.8rem;
  color: var(--main-color);
}

.menu-items {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  gap: 1.5rem;
  justify-items: center;
}

.item {
  cursor: pointer;
  margin-bottom: 2rem;
}

.item-img img {
  width: 100%;
  height: auto;
}

.item-name h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.item-desc p {
  line-height: 1.8rem;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.discount-price {
  font-size: 1.5rem;
  color: var(--hover);
}

.main-price {
  color: var(--main-color);
  text-decoration: line-through;

}

/*! ------------ responsive ------------ */
@media (max-width: 768px) {
  section {
    padding: 0 2rem;
  }

  /* navbar */

  .nav-hamburger {
    display: block;
    margin-left: auto;
    font-size: 1.3rem;
  }

  .nav-list {
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 50%;
    transform: translateX(100%);
    background-color: var(--primary-color);
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow);
    padding: 2rem 0;
    justify-content: flex-start;
  }

  .nav-bg {
    content: "";
    width: 0;
    display: block;
    background-color: #14141438;
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 500;
  }

  .nav-list li a {
    margin: 1rem auto;
    display: inline-block;
  }

  /* Home */
  .home-content {
    font-size: 1.3rem;
  }

  .home-content button {
    font-size: 1rem;
  }

  /* About */
  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
  }

  .about-image, .about-text {
    width: 100%;
    margin: 0;
  }

  .about-text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  /* navbar */
  .navbar {
    padding: 1.5rem 2.2rem;
  }

  .nav-list {
    width: 70%;
  }

  /* Home */
  .home-content {
    margin: auto;
    font-size: 1.1rem;
  }

  .home-content button {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .next-btn,
  .prev-btn {
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
  }
}
